<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="929eff">  <td>21/07/07 09:44:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestZero.setUp()[pri:0, instance:testcases.TestZero@53aac487]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@391183339</td>   <td></td> </tr>
<tr bgcolor="929eff">  <td>21/07/07 09:45:00</td>   <td>3660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestZero.getAllLinksNumber()[pri:1, instance:testcases.TestZero@53aac487]">getAllLinksNumber</td> 
  <td>main@391183339</td>   <td></td> </tr>
<tr bgcolor="929eff">  <td>21/07/07 09:45:01</td>   <td>3913</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestZero.tearDown()[pri:0, instance:testcases.TestZero@53aac487]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@391183339</td>   <td></td> </tr>
<tr bgcolor="929eff">  <td>21/07/07 09:45:00</td>   <td>3688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestZero.firstTest()[pri:2, instance:testcases.TestZero@53aac487]">firstTest</td> 
  <td>main@391183339</td>   <td></td> </tr>
</table>
